.imageSlider {
  //background-color: limegreen;
  overflow-x: scroll;
  margin: 1rem;
  &__list {
    padding: 1rem;
    margin: 1rem;
    gap: 2rem;
    list-style: none;
    display: flex;
    transition: all 1s;
  }
}
.item {
  iframe {
    width: 800px;
  }
}
